.container {
  position: relative;
}

.header {
  text-align: center;
  padding: 15px 0;
}

.button {
  position: absolute;
  right: 15px;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/close-icon.svg');
  background-color: transparent;
  border: none;
}
